<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Planet</title>
  </head>
  <body>
    <h1>Add a Planet!</h1>
    <p>Fill out the form to add a new planet to the database</p>
    <form action="/planets" method="POST">
      <label style="display: block" for="name">Name:</label>
      <input type="text" name="name" id="name" required />
      <label style="display: block" for="type">Type:</label>
      <select name="type" id="type" required>
        <option value="inner">Inner Planet</option>
        <option value="outer">Outer Planet</option>
        <option value="dwarf">Dwarf Planet</option>
      </select>
      <label style="display: block" for="radius">Size (radius):</label>
      <input type="number" name="radius" id="radius" required />
      <span>miles</span>
      <label style="display: block" for="orbit">Orbit (Earth days):</label>
      <input type="number" name="orbit" id="orbit" required />
      <span>days</span>
      <label style="display: block" for="moons">Moons:</label>
      <input type="number" name="moons" id="moons" />
      <input style="display: block" type="submit" value="Submit">
      <a href="/planets/">Back</a>
    </form>
  </body>
</html>
